Flask
requests
beautifulsoup4

# ----------------------
# Flask
# ----------------------
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
psycopg2
validators
Flask-JWT

# ----------------------
# Production Server
# ----------------------
gunicorn
