{% extends "base.html" %}

{% block main %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="">
(document).ready(function() {
  ('.mimg').click(function() {
    var id = ('img', this).attr('src');
    console.log(id);
  });
});
</script>
<h1 class="page-header">Thumbnails</h1>
<div></div>
<span class='mimg'> 
<img src="{{res[0]}}" style="width:300px;height:300px;" onclick="myFunction()"/>
<img src="{{res[1]}}" style="width:300px;height:300px;"/>
<img src="{{res[2]}}" style="width:300px;height:300px;"/><img src="{{res[3]}}" style="width:300px;height:300px;"/>
<img src="{{res[4]}}" style="width:300px;height:300px;"/><img src="{{res[5]}}" style="width:300px;height:300px;"/>
<img src="{{res[6]}}" style="width:300px;height:300px;"/>
<img src="{{res[7]}}" style="width:300px;height:300px;"/><img src="{{res[8]}}" style="width:300px;height:300px;"/>
</span>
</div>
<script>
function myFunction() {
    var x = document.getElementsByTagName("IMG")[0].getAttribute("src"); 
    document.getElementsByTagName("input")[0].setAttribute("value",x);
}
</script>

<p>CLICK IMAGE TO ADD IN THIS BOX</p>
<input type="text" name="thumbnail" label="thumbnail" value="PlaceHolder URL" style="width:200px"/>
<button type="submit" class="btn btn-primary"><a href=""></a>Submit IMAGE</button> 

{% raw %}


{% endraw %}
{% endblock %}


